name: BSort CI

on: [push, pull_request]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Install uv
      # uses: astral-sh/setup-uv@v1
      run: curl -LsSf https://astral.sh/uv/install.sh | sh
      
    - name: Set up Python
      run: uv python install 3.12.12

    - name: Install dependencies
      run: uv sync --python 3.12.12 --extra dev

    - name: Lint with pylint
      run: uv run pylint bsort/

    - name: Check formatting with Black
      run: uv run black --check bsort/

    - name: Check imports with isort
      run: uv run isort --check-only bsort/

    - name: Run unit tests
      run: uv run pytest

    - name: Build Docker Image
      run: docker build . -t bsort:latest